body {
    background-color: #202020;
    color: white;
}
.top-wrapper{
    margin-top: 10px;
    padding: 15px 0;
}
.signIn{
    float: right;
}

#dashboard {
    max-height: 400px; /* высота нашего блока */
    /*width: 200px; !* ширина нашего блока *!*/
    background-color: #75507B;
    border: 1px solid #202020; /* размер и цвет границы блока */
    /*overflow-x: scroll; !* прокрутка по горизонтали *!*/
    overflow-y: scroll; /* прокрутка по вертикали */
}
.wrap-dashboard {
    margin-bottom: 2px;
    /*background-color: #75507B;*/
}

#event_list {
    padding: 25px 20px;
}
